  <h3>Login</h3>
  <%= form_for :session do |f| %>
    <%= f.label :email %><%= f.text_field :email %><br />
    <%= f.label :password %><%= f.text_field :password %><br />
    <%= f.submit "Login" %>
  <% end %>
<!-- , :id => :email -->
