  <h3>Login</h3>
  <%= flash.alert %>
  <%= form_tag session_path do %>
    <%= label_tag :email %><%= text_field_tag :email %><br />
    <%= label_tag :password %><%= text_field_tag :password %><br />
    <%= submit_tag "Login" %>
  <% end %>
<!-- , :id => :email -->
