<%= render :partial => 'common/static_heading', locals: {element: :whoopsie} %>
<h4 id='error_text'>You caught us with our aprons off</h4>
<%= image_tag 'error_001.jpg' %>
<div class='default-footer'>
<div class='left-footer-arrow'><%= image_tag 'body_arrow_right.png' %></div>
  <div class="header-text">
    <%= image_tag 'fs_logo_small.png' %>
  </div>
  <div class='right-footer-arrow'><%= image_tag 'body_arrow_left.png' %></div>
</div >
