<h1>Menu</h1>

<div id = "menu">
  <ul>
    <% @categories.each do |category| %>
        <li>category: <%= category.name %></li>
        <% category.items.each do |item| %>
        <div id="<%= dom_id(category) %>">
              <p>name: <%= item.name %></p>
              <p>description: <%= item.description %></p>
              <p>price: <%= item.price %></p>
        </div>
        <% end %>
    <% end %>
  </ul>
</div>
<%= link_to "See Cart", orders_path, class: "see_cart" %>
