<div id = "menu">
  <ul>
    <% @categories.each do |category| %>
      <%= render :partial => 'common/arrows_heading', :locals => {:element => category} %>
      <div class="items">
        <% category.items.each do |item| %>
        <div class="item_name" id="<%= dom_id(item) %>">
          <p class = "item_title"><%= item.name %></p>
          <%= image_tag "items_#{item.id}.jpg", class: "item_img" %>
          <p>description: <%= item.description %></p>
          <p>price: <%= item.price %></p>
          <%= form_for item.order_items.new do |f| %>
            <%= f.hidden_field :item_id %>
            <%= f.submit "Add to Cart" %>
          <select id="quantity_<%= dom_id(item) %>" name="quantity">
          <option selected="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          </select> <label for="quantity_<%= dom_id(item) %>">How many?</label><br/>
          <% end %>
        </div>
        <% end %>
      </div>
    <% end %>
  </ul>
</div>
<%= link_to "See Cart", order_path(@order), class: "see_cart" %>
