<!DOCTYPE html>
<html>
  <%= stylesheet_link_tag 'styles' %>
  <head>
    <title>DinnerDash</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">

    <a class="navbar-brand" href="/categories"><h1 id="brand">FLYING SUGAR</h1></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li ><a href="/categories">menu</a></li>
      <li><a href="/about/us">about us</a></li>
      <li >
        <% if current_user %>
          <%= link_to "log out", session_path, :method => :delete %>
        <% else %>
          <%= link_to "log in", session_path, :method => :new %>
        <% end %>
      </li>
      <li>
        <% if @order.total > 0 %>
          <%= link_to "bread basket: #{@order.total}", order_path(@order), class: "see_cart" %>
        <% else %>
          <%= link_to "bread basket: empty", order_path(@order), class: "see_cart" %>
        <% end %>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
  <body class = 'bgimage'>
    <div class="container">
      <div class="centered">
        <%- if flash.notice %>
          <p><%= flash.notice %></p>
        <% end %>
        <h1>DinnerDash</h1>
        <%= yield %>
      </div>
    </div>
  </body>
</html>

